<html>
    <head>
        <title>
            Mi página
        </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <h1>PROTECTORAS:</h1>
            {% for protectora in protectora_mostrar%}
                <article>
                    <h3>{{protectora.nombre}}</h3>
                    <h6>Descripción:{{ protectora.descripcion}}</h6>
                    <h6>Su fecha de creación es:{{ protectora.fecha_creacion}}</h6>
                </article>
            {% endfor %}

            <a href="/colaboradores" class="btn btn-primary">Colaboradores</a>
        </body>
</html>